*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg,black,transparent,gold);
    display: flex;
    align-items: center;
    justify-content: center;
}
#bubbleContainer{
    width: 100%;
    height: 100vh;
    /* background-color: wheat; */
    position: absolute;
    overflow: hidden;
}
.bubble{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.659);
    box-shadow: 2px 2px 5px black;
    position: absolute;
    /* filter: blur(10px); */
    animation: bubbleAnimation 60s infinite both;
}
#bubble1{
    right: 10%;
    top: 5%;
    animation-delay: 0.5s;
    animation-direction: alternate;
}
#bubble2{
    transform: scale(0.2);
    left: 40%;
    bottom: 20%;
    animation-delay: 5s;
    animation-direction: reverse;

}
#bubble3{
    left: 20%;
    bottom: 50%;
    transform: scale(1.5);
    animation-delay: 2s;
    animation-direction: normal;

}
#bubble4{
    transform: scale(0.2);
    left: 40%;
    bottom: 20%;
    animation-delay: 1s;
    animation-direction: alternate-reverse;

}
#bubble5{
    right: 20%;
    top: 50%;
    transform: scale(2);
    animation-delay: 6s;
    animation-direction: alternate;

}
#bubble6{
    left: 10%;
    bottom: 10%;
    transform: scale(0.3);
    animation-delay: 1.5s;
    animation-direction: reverse;

}
#container{
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.515);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    position: absolute;
    overflow: hidden;
    display: flex;
    backdrop-filter: blur(10px);
}

@keyframes bubbleAnimation {
    0%,100%{
        transform: translate(0px,0px) scale(1);
    }
    25%{
        transform: translate(100px,150px) scale(1.5);
    }
    35%{
        transform: translate(-150px,80px) scale(0.2);
    }
    50%{
        transform: translate(150px,-80px) scale(2);

    }
    75%{
        transform: translate(200px,40px) scale(1.3);

    }
    80%{
        transform: translate(-40px,0px) scale(1.7);
    }
}
#videoContainer{
    width: 40%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#signupVideo{
    height: 100vh;
}
#infoContainer{
    width:60% ;
    height: 100%;
    /* background-color: #09203F; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#name{
    /* background-color: antiquewhite; */
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#conctInfo{
    height: 280px;
    width: 100%;
    /* background-color: orange; */
    display:flex ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.inputs{
    width: 40%;
    height: 80%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: 1.5px solid rgb(255, 0, 0);
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition:transform 0.2s;
    font-size: 1.5vw;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.5px rgb(0, 0, 0);
}
.inputs:hover{
    transform: scale(1.1);
}
.wideInput{
    width: 87%;
}
#add{
    padding-top: 10px;
}
select{
    width: 87%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #00000075;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 5px black;

}
option{
    font-weight: bold;
}
h4{
    text-align: left;
    width: 87%;
    /* background-color: white; */
    padding: 5px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    text-shadow: 0.5px 0.5px 0.5px black;
}
h1{
    height: 30px;
    color: rgb(252, 0, 0);
    text-align: center;
    width: 87%;
    letter-spacing: 10px;
    text-transform: capitalize;
    font-size: 2.5vw;
    text-shadow: 2px 2px 5px black;
}
#signUp{
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
#button{
    width: 40%;
    height: 60%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(75deg,royalblue,black,gray,royalblue);
    background-position: 800px;
    background-size: 800px;
    box-shadow: 2px 2px 5px black;
    font-size: 1.4vw;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(0, 81, 255);
    text-shadow: 0.5px 0.5px 0.5px black;
}
#button:hover{
    animation: buttonAnimation 0.5s;
}
@keyframes buttonAnimation {
    0%,100%{
        transform: scale(1) skew(0deg,0deg) rotate(0deg);
        background-position: 800px;
    }
    25%{
        transform: scale(1.2) skew(10deg,10deg) rotate(10deg);

    }
    50%{
        transform: scale(1) skew(-10deg,-10deg) rotate(-10deg);
        background-position: 0px;

    }
    75%{
        transform: scale(1.2) skew(-20deg,20deg) rotate(5deg);

    }
}

input::placeholder,textarea::placeholder{
    color: rgba(255, 255, 255, 0.724);
    font-size: 1.5vw;
    letter-spacing: 0.5vw;
}
a{
    font-size: 1.5vw;
    letter-spacing: 0.5vw;
    position: absolute;
    bottom: 1vw;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 0.5px 0.5px 0.2px black;
}